div li{
    height: 20px;
    width: 40px;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

div li:first-child{
    height: 20px;
    width: 40px;
    border: 1px solid pink;
    background-color: blue;
}

div li:last-child{
    height: 20px;
    width: 40px;
    border: 1px solid blue;
    background-color: pink;
}