div{
    height: 100px;
    width: 200px;
    background-color: green;
    border: 2px solid purple;
    box-shadow: 5px 5px 50px black;
    padding: 20px;
    
}

h1{
    color: red;
}

p{
    color: aqua;
}